<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Abbigail Parchment</h1>
    <p>I am a University of the West Indies student seeking a bachelor's degree in Computer science in which I plan to specialize in Software Development. I was born and raised in Spanish Town, St. Catherine and I attended St. Jago High School  where I developed the passion for Computer Science.
        Throughout my life I have encountered and conquered many obstacles, this newfangled knowledge of my hidden capabilities engineered a mental toughness and ignited a burning ambition for fearlessly tackling adversity. Absurd, some may say, but the journey moulded me into being resilient, determined and a risk-taker along with acknowledging the passion I have to persevere during times of tribulation which are characteristics of conquering the challenging major- Computer Science. It is a dream of mine to make a difference in someone else's life, whether to contribute to their happiness or to be someone they can emulate; therefore, I chose Computer Science as I believe the world is transitioning to a technological space so creative and tech-savvy minds like mine will be beneficial for the future.</p>
</body>
</html>